*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f1f3f6;
}

/* Navbar */

.navbar{
    height:60px;
    background:#2874f0;
    display:flex;
    align-items:center;
    justify-content:space-around;
    color:white;
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

.logo p{
    font-size:12px;
    color:white;
    font-style:italic;
}

.logo span{
    color:yellow;
}

.search{
    width:500px;
    height:40px;
    background:white;
    display:flex;
    align-items:center;
    border-radius:3px;
    overflow:hidden;
}

.search input{
    width:100%;
    height:100%;
    border:none;
    outline:none;
    padding-left:15px;
    font-size:15px;
}

.search i{
    color:#2874f0;
    padding:0 15px;
    cursor:pointer;
}

.login-btn{
    padding:8px 35px;
    border:none;
    background:white;
    color:#2874f0;
    font-weight:bold;
    cursor:pointer;
}

.nav-item{
    color:white;
    font-size:17px;
    cursor:pointer;
}

/* Login Box */

.container{
    width:850px;
    height:520px;
    background:white;
    margin:40px auto;
    display:flex;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
}

/* Left Side */

.left{
    width:35%;
    background:#2874f0;
    color:white;
    padding:40px;
    position:relative;
}

.left h1{
    font-size:35px;
}

.left p{
    margin-top:20px;
    font-size:22px;
    line-height:35px;
}

.left img{
    width:220px;
    position:absolute;
    bottom:20px;
    left:25px;
}

/* Right Side */

.right{
    width:65%;
    padding:60px;
}

.right input{
    width:100%;
    border:none;
    border-bottom:2px solid #2874f0;
    outline:none;
    padding:15px;
    font-size:17px;
}

.terms{
    margin-top:40px;
    color:gray;
    font-size:14px;
    line-height:22px;
}

.terms a{
    text-decoration:none;
    color:#2874f0;
}

.right button{
    width:100%;
    margin-top:30px;
    padding:14px;
    border:none;
    background:#fb641b;
    color:white;
    font-size:18px;
    cursor:pointer;
    border-radius:3px;
}

.right button:hover{
    background:#e85b18;
}
.cart{
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 18px;
}
.cart-count{
    position: absolute;
    top: -8px;
    left: 10px;
    background: red;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}